---
---
@use "sass:color";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Open+Sans:wght@300;400;600;700&display=swap');

// Variables

// Typography
$base-font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$heading-font-family: 'Merriweather', 'Georgia', serif;

// Colors
$text-color: #333;
$background-color: #fdfdfd;
$primary-color: #00549F; // UCSC Blue
$link-color: $primary-color;
$link-hover-color: #003E7A; // Darker shade of primary-color for hover

// Greys
$light-grey: #f0f0f0;
$medium-grey: #cccccc;
$dark-grey: #666666;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;

// Import partials
@import "base";
@import "layout";
@import "home";
@import "projects";
@import "publications";
@import "talks";
@import "spotlight";
@import "contact";
